@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');
@import "bourbon";

:root {
	--content-border: 5px solid #000;
  --corner-radi: 10px;
	--heading-color: #443f3f;
	--medium-spacing: 1rem;
  --roboto-font: 'Roboto Mono', monospace;
  --small-spacing: .5rem;
  --source-font: 'Source Code Pro', monospace;
}

* {
  color: white;
}

body {
	background: #631a84;
  background: -moz-linear-gradient(-45deg,  #631a84 0%, #5621b2 43%, #a01b9e 51%, #000000 100%) no-repeat;
  background: -webkit-linear-gradient(-45deg,  #631a84 0%,#5621b2 43%,#a01b9e 51%,#000000 100%) no-repeat;
  background: linear-gradient(135deg,  #631a84 0%,#5621b2 43%,#a01b9e 51%,#000000 100%) no-repeat;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#631a84', endColorstr='#000000',GradientType=1 );
  height: 100%;
  margin: 0;
}

header {
  margin: 2rem;
  padding: var(--medium-spacing);
  position: static;
  text-align: center; 
}

header img {
  border-radius: 50%;
}

header h1 {
  font-family: var(--roboto-font);
}

header p {
  font-family: var(--source-font);
}

ul {
  background-color: rgba(255, 255, 255, .25);
  border-radius: var(--corner-radi);
  list-style-type: none;
  margin: 0 auto 2rem;
  max-width: 960px;
  padding: 0;
  overflow: hidden;
  width: 80%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(86, 26, 114, 0.25);
}

main {
  background-color: rgba(255, 255, 255, .25);
	border-radius: var(--corner-radi);
	border-top: 0;
	justify-content: center;
	margin: 0 auto 2rem;
	max-width: 960px;
	padding: 2rem;
	width: 80%;
}

h2,
h3 {
  font-family: var(--source-font);
}

main p {
  font-family: var(--roboto-font);
  padding: 1.5rem;
}

